In [1]:
import pandas as pd
import scipy
from scipy import stats
cutlets_df=pd.read_csv('Cutlets.csv')
cutlets_df

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [2]:
# Ho- No differences in diameter of cutlets
# H1- Some differences in diameter of cutlets

In [3]:
stats.t.ppf(0.975,33)

2.0345152974493383

In [4]:
unit_a=pd.Series ([6.8090, 6.4376, 6.9157, 7.3012, 7.4488, 7.3871, 6.8755, 7.0621, 6.6840, 6.8236,
           7.3930, 7.5169, 6.9246, 6.9256, 6.5797, 6.8394, 6.5970, 7.2705, 7.2828, 7.3495,
           6.9438, 7.1560, 6.5341, 7.2854, 6.9952, 6.8568, 7.2163, 6.6801, 6.9431, 7.0852,
           6.7794, 7.2783, 7.1561, 7.3943, 6.9405])

unit_b=pd.Series ([6.7703, 7.5093, 6.7300, 6.7878, 7.1522, 6.8110, 7.2212, 6.6606, 7.2402, 7.0503,
           6.8810, 7.4059, 6.7652, 6.0380, 7.1581, 7.0240, 6.6672, 7.4314, 7.3070, 6.7478,
           6.8889, 7.4220, 6.5217, 7.1688, 6.7594, 6.9399, 7.0133, 6.9182, 6.3346, 7.5459,
           7.0992, 7.1180, 6.6965, 6.5780, 7.3875])
from scipy import stats
stats.ttest_ind(unit_a, unit_b)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [5]:
# p value is 0.472 which is greater then 0.05
# if p value greater than 0.05 then Accept Null Hypothesis.
# The assumption is no dofference in diameter of cutlets.

In [6]:
# Hypothesis Testing Exercise 2nd dataset assignment. ####One way Anova Test####

In [7]:
import pandas as pd
import scipy
from scipy import stats
labtat_df=pd.read_csv('LabTAT.csv')
labtat_df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [8]:
# Ho= All means are equal of all 4 laboratory TAT is equal of all 4 laboratory
# Ha= Atleast one mean is different

In [9]:
stats.f_oneway(labtat_df.iloc[:,0],labtat_df.iloc[:,1],labtat_df.iloc[:,2],labtat_df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [10]:
# p value is 2.115 greater than 0.05 means accept Null Hypothesis
# The assumption is there is no difference in Turn around time(TAT) of all 4 laboratories.

In [11]:
# Hypothesis Testing Exercise 3rd dataset assignment.

In [12]:
buyerratio_df=pd.read_csv('BuyerRatio.csv')
buyerratio_df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [13]:
# Ho= All proportion are equal
# Ha= Not all proportion are equal

In [14]:
Males=pd.Series([50,142,131,70])
Females=pd.Series([435,1523,1356,750])
stats.ttest_ind(Males,Females)

Ttest_indResult(statistic=-3.5834877367684856, pvalue=0.011594334372357056)

In [16]:
# p value is 0.011 less then 0.05(alpha value) accept alternate hypothesis
# Reject Null hypothesis.
# Not all proportion are equal.

In [ ]:
# Hypothesis Testing Exercise 4th dataset assignment.

In [18]:
cof=pd.read_csv('Costomer+OrderForm.csv')
cof

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [ ]:
# Ho= All defective proportion are equal
# Ha= Not all defective proportion are equal

In [25]:
cof.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [26]:
Chisquares_results=scipy.stats.chi2_contingency([271,267,269,280],[29,33,31,20])
Chisquares_results

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=0, expected_freq=array([271., 267., 269., 280.]))

In [29]:
from scipy import stats
chistats=scipy.stats.chi2_contingency([271,267,269,280],[29,33,31,20])
chistats

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=0, expected_freq=array([271., 267., 269., 280.]))

In [ ]:
# p value is greater than 0.05 (alpha value)
# 1.0>0.05 accept null hypothesis
# Assumption is all defective proportion are equal.